@font-face {
    font-family: Gotham-Medium;
    src: url("14012.otf") format("opentype");
}

*:focus {
    outline: none;
}

body {
    display: block;
    font-family: 'Gotham-Medium', sans-serif;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: rgb(7, 7, 7);
}

li {
    list-style-type: none;
}

a {
    text-transform: uppercase;
    color: black;
    text-decoration: none;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.background-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    margin: auto;
    z-index: -100000;
}

.background-block-1, .background-block-2, .background-block-3 {
    background-image: linear-gradient(to right, rgba(7, 7, 7, 1), rgba(45, 45, 45, 1) 400%);
    z-index: -1;
    position: fixed;
}
/*background-image: linear-gradient(to right, rgba(25, 25, 25, 1), rgba(45, 45, 45, 1) 400%);*/
/*z-index: -1;*/
/*position: fixed;*/

.background-block-1 {
    width: 32vw;
    height: 250px;
    transform: rotate(-60deg);
    /* left: 109px; */
    /* margin: 110px 0; */
    position: fixed;
    left: 235px;
    top: 30vh;
    bottom: 0;
    margin: 0;
}

.background-block-2 {
    width: 42%;
    height: 400px;
    transform: rotate(-45deg);
    left: 0;
    right: 0;
    bottom: 0;
    top: 330px;
    margin: 47px 0 0 414px;
}

.background-block-3 {
    width: 51%;
    height: 450px;
    transform: rotate(-33deg);
    left: 0;
    right: 0;
    bottom: 0;
    top: 430px;
    margin: 47px 0 0 714px;
}


.form {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
    align-items: center;
    padding: 30px 0;
    text-transform: uppercase;
}

.facebook {
    width: 336px;
    height: 35px;
    background-color: rgb(65 89 147);
    text-align: center;
    line-height: 35px;
    vertical-align: middle;
    color: white;
    letter-spacing: 2px;
    border-radius: 35px;
    font-size: 11px;
    margin-bottom: 10px;
    transition: all 150ms;
    cursor: default;
}

.facebook:hover {
    background-color: rgb(65, 98, 180);
    transform: scale(1.1);
}

.or-text {
    margin-bottom: 10px;
    color: rgb(171, 171, 171);
    font-weight: 100;
    pointer-events: none;
}

.or-text:before, .or-text:after {
    display: inline-block;
    content: "";
    border-top: 1px solid rgb(83, 83, 83);
    width: 8rem;
}

.or-text:before {
    transform: translateY(-3px) translateX(-26px);
}

.or-text:after {
    transform: translateY(-3px) translateX(26px);
}

.form-item {
    margin-bottom: 30px;
}

.rememberMe {
    display: flex;
    width: 336px;
    justify-content: space-between;
    text-transform: none;
    color: rgb(171, 171, 171);
    font-size: 15px;
}

input[type=text], input[type=email], input[type=password] {
    width: 316px;
    height: 20px;
    color: rgb(171, 171, 171);
    background-color: rgb(51, 51, 51);
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    outline: none;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: rgb(64, 64, 64);
}

/*
    CHECKBOX STYLES
*/

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 21px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid rgb(64, 64, 64);
    background-color: black;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    left: -4px;
    bottom: -4px;
    background-color: rgb(171, 171, 171);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:hover:before {
    background-color: white;
}

input:checked + .slider {
    background-color: rgb(101, 211, 110);
    border: 2px solid rgb(101, 211, 110);
}

input:checked + .slider:before {
    background-color: white;
}

input:focus + .slider {
    box-shadow: 0 0 1px rgb(101, 211, 110);
}

input:checked + .slider:before {
    -webkit-transform: translateX(21px);
    -ms-transform: translateX(21px);
    transform: translateX(21px);
}
.slider.round {
    border-radius: 32px;
}

.slider.round:before {
    border-radius: 50%;
}

.log-in-button {
    color: white;
    font-size: 12px;
    letter-spacing: 1.5px;
    width: 100px;
    height: 35px;
    border-radius: 35px;
    border: 1px solid rgb(87, 181, 96);
    background-color: rgb(87, 181, 96);
    text-align: center;
    align-items: center;
    vertical-align: middle;
    line-height: 30px;
    cursor: default;
    transition: all 150ms;
}

.log-in-button:hover {
    background-color: rgb(101, 211, 110);
    transform: scale(1.1);
}
