.root-container {
    height: 50vh;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 50vw;
    display: flex;
    flex-flow: column;
}
.logo-container {
    color: white;
    width: 100%;
    text-align: center;
    font-size: 27px;
    height: 65px;
    display: flex;
    justify-content: center;
}

.logo-container img {
    height: auto;
    width: 65px;
}

.logo-text {
    line-height: 65px;
    pointer-events: none;
}

.tagline-text {
    color: white;
    font-size: 47px;
    max-font-size: 47px;
    width: 100%;
    text-align: center;
    pointer-events: none;
    margin: 75px 0;
}


.welcome-container {
    width: 336px;
    margin: 0 auto;
    padding: 0;
}

.welcome-item {
    font-size: 13px;
    font-weight: 900;
    vertical-align: middle;
    text-align: center;
    width: 336px;
    height: 48px;
    line-height: 48px;
    border-radius: 75px;
    letter-spacing: 2px;
    transition: all 150ms;
    cursor: default;
}

.welcome-sign-up {
    color: white;
    background-color: rgb(87, 181, 96);
    margin: 0 0 37px 0;
}

.welcome-login {
    color: black;
    background-color: white;
    margin: 37px 0 0 0;
}

.welcome-sign-up:hover {
    background-color: rgb(101, 211, 110);
}

.welcome-sign-up:hover, .welcome-login:hover {
    transform: scale(1.1);
}

.welcome-settings {
    position: absolute;
    color: white;
    bottom: -93px;
    left: 0;
    right: 0;
    width: 64px;
    height: 13px;
    margin: auto;
    text-align: center;
    padding: 0 0 2px 0;
    letter-spacing: 1px;
    font-size: 11px;
}

.welcome-settings:hover {
    border-bottom: 1px solid white;
    padding: 0 0 1px 0;
}

.login-text {
    pointer-events: none;
    text-align: center;
    color: rgb(171, 171, 171);
    text-transform: uppercase;
    font-size: 11px;
    vertical-align: middle;
}

.login-text:before, .login-text:after {
    display: inline-block;
    content: "";
    border-top: 1px solid rgb(83, 83, 83);
    width: 4rem;
}

.login-text:before {
    transform: translateY(-3px) translateX(-6px);
}

.login-text:after {
    transform: translateY(-3px) translateX(6px);
}

.login-container {
    display: flex;
    justify-content: space-around;
    width: 50%;
    color: rgb(171, 171, 171);
    text-transform: uppercase;
    font-size: 11px;
    margin: 0 auto;
}

.login-item {
    display: block;
    font-weight: 100;
    color: white;
    padding: 0 0 2px 0;
    margin: 0 20px;
    letter-spacing: 1px;
}

.login-item:hover {
    border-bottom: 1px solid white;
    padding: 0 0 1px 0;
}

/* text-align: center;*/
/* vertical-align: middle;*/
/* line-height: 75px;*/
/* border-bottom: 1px solid rgb(171, 171, 171);*/
/* lightgreen :   background-color: rgb(101, 211, 110);*/
/* green :  background-color: rgb(87, 181, 96);*/
/* whitesmoke :  border-bottom: 1px solid rgb(171, 171, 171);*/
